.full{
    background: linear-gradient(rgba(255,0,0,0),#64b5f6, #3295f8 );
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.full .form{
	background: whitesmoke;
	border-radius: 1rem;
	margin: 1rem;
}

.full .form .field{
height: 5%;
}

.full .form .field label{
	font-size: large;
	font-weight: bold;
}

.full .form .field input{
	height: 2.5rem;
	border: 2px solid rgb(199, 193, 193);
	font-size: 1rem;
	padding: 0 0.5rem;
	width: 100%;
}

.full .form .button{
	border: transparent;
	border-radius: 10px;
	text-align: center;
	padding: 8px;
	margin:auto;
	width: 95%;
    background: linear-gradient(#64b5f6, #3295f8 );
	cursor: pointer;
}

.full .form .button:hover{
	background: linear-gradient(#3295f8, #64b5f6);
	color: white;
}

.full .form .link { 
    margin: auto;
    display: flex
}




